html,
body {
  height: 100%;
}

body {
  background: #fbfbfd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

svg {
  display: block;
}

.control {
  border-color: transparent;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.control-btn {
  border-radius: 1rem;
  padding: 0.15rem 0.5rem;
}

.control-btn-alt {
  border-radius: 1rem;
  border-color: transparent;
  box-shadow: none;
  background-color: rgb(226, 226, 226);
  color: #999;
}

.control-btn:hover {
  background-color: #f9fafb;
}

.control-btn-alt:hover {
  color: #000;
}

.control-field {
  padding: 0.25rem 0.5rem;
}

.control-search {
  position: relative;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgNTAgNTAiIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiPjxwYXRoIGQ9Ik0gMjEgMyBDIDExLjYwMTU2MyAzIDQgMTAuNjAxNTYzIDQgMjAgQyA0IDI5LjM5ODQzOCAxMS42MDE1NjMgMzcgMjEgMzcgQyAyNC4zNTU0NjkgMzcgMjcuNDYwOTM4IDM2LjAxNTYyNSAzMC4wOTM3NSAzNC4zNDM3NSBMIDQyLjM3NSA0Ni42MjUgTCA0Ni42MjUgNDIuMzc1IEwgMzQuNSAzMC4yODEyNSBDIDM2LjY3OTY4OCAyNy40MjE4NzUgMzggMjMuODc4OTA2IDM4IDIwIEMgMzggMTAuNjAxNTYzIDMwLjM5ODQzOCAzIDIxIDMgWiBNIDIxIDcgQyAyOC4xOTkyMTkgNyAzNCAxMi44MDA3ODEgMzQgMjAgQyAzNCAyNy4xOTkyMTkgMjguMTk5MjE5IDMzIDIxIDMzIEMgMTMuODAwNzgxIDMzIDggMjcuMTk5MjE5IDggMjAgQyA4IDEyLjgwMDc4MSAxMy44MDA3ODEgNyAyMSA3IFoiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 16px 16px;
  width: 100%;
  max-width: 280px;
  margin: 0 0 0.5rem;
}

.control-field:focus-visible {
  border-color: #3c6bc2;
  outline: 1px solid #3c6bc2;
}

.tools {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(75, 75, 255, 0.5);
}

.modal-active {
  display: flex;
}

.modal_body {
  position: relative;
  background: #fff;
  border-radius: 15px;
  flex-grow: 1;
  max-width: 90%;
}

.modal_close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 16px;
  width: 25px;
  height: 25px;
}

.modal_content {
  padding: 8px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  height: 80vh;
  text-align: center;
}

.modal_items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(112px, 1fr));
  gap: 4px;
}

.flag {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  flex-basis: 100px;
  cursor: pointer;
}

.flag_emoji {
  pointer-events: none;
  font-size: 56px;
  line-height: 1;
}

.flag_file {
  border-radius: 8px;
  width: 130px;
}

.flag_description {
  pointer-events: none;
  font-size: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.picked {
  font-size: 80px;
  line-height: 1;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  cursor: default;
}

.hide {
  display: none;
}